*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
}

@media screen and (min-width: 320px) {
    
    .page-wrapper {
        width: 100%;
        height: 100vh;
        display: table;
        background-color: #060809;
    }

    .topbar {
        width: 100%;
        height: 80px;
        display: block;
        background-color: #060809;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
    }
}

@media screen and (min-width: 992px) {

    /* HEADER */

    .container-topbar {
        display: block;
        padding: 0px 32px;
        /* background-color: blue; COR PRA AJUDAR NA VISUALIZAÇÃO; */
        width: 1280px;
        height: 44px;
        margin: 18px auto;
        position: relative;
    }

    .content-topbar {
        width: 401px;
        height: 44px;
        display: flex;
        /* background-color: purple; COR PRA AJUDAR NA VISUALIZAÇÃO; */
        margin: 0 0;
        align-items: center;
    }

    .logo {
        display: table;
        margin-left: 0;
        /* background-color: pink; COR PRA AJUDAR NA VISUALIZAÇÃO; */
    }

    .logo img {
        height: 32px;
    }

    .menu {
        display: block;
    }

    .menu a {
        font-family: 'Satoshi';
        display: inline-flex;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        text-decoration: none;
        margin: 16px;
        position: relative;
    }

    .menu a:first-child {
        margin-left: 40px ;
    }

    .menu a:before {
        content: '';
        width: 0;
        height: 4px;
        background-color: #712fff;
        display: block;
        position: absolute;
        bottom: -6px;
        left: 0;
        transition: all 0.2s ease-out; 
    }

    .menu a:hover:before {
        width: 100%;
    }

    .account {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: end;
        padding: 0px;
        gap: 12px;
        width: 187px;
        height: 44px;
        /* background-color: green; COR PRA AJUDAR NA VISUALIZAÇÃO; */
        position: absolute;
        top: 0;
        right: 32px;
    }

    /* BODY */

    .line {
        width: 100%;
        height: 2px;
        display: block;
        background-color: aqua;
    }

    .container-body {
        display: block;
        /* background-color: blue; COR PRA AJUDAR NA VISUALIZAÇÃO; */
        width: 1280px;
        height: 608px;
        margin: 144px auto 0 auto;
    }

    .content-body{
        width: 579px;
        height: 402px;
        display: inline-block;
        /* background-color: grey; COR PRA AJUDAR NA VISUALIZAÇÃO; */
        align-items: center;
        position: relative;
        left: 32px;
        bottom: 103px;
    }

    .content-body-txt{
        width: 100%;
        height: 309px;
        display: inline-block;
        /* background-color: red; COR PRA AJUDAR NA VISUALIZAÇÃO; */
        position: absolute;
        top: 0;
        left: 0;
    }

    .support-txt {
        padding: 24px 0;
    }

    .content-body-cta{
        width: 372.21px;
        height: 61px;
        display: inline-block;
        /* background-color: pink; COR PRA AJUDAR NA VISUALIZAÇÃO; */
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .img-google-play {
        position: absolute;
        right: 0;
    }  

    /* BODY CARDS */
    
    .content-body-cards {
        width: 605px;
        height: 100%;
        display: inline-block;
        /* background-color: grey; COR PRA AJUDAR NA VISUALIZAÇÃO; */
        align-items: center;
        position: relative;
        left: 60px;
    }

    .body-cards-visa {
        width: 343px;
        height: 80px;
        display: block;
        background-color: #fff;
        position: absolute;
        right: 31px;
        border-radius: 20px;
    }

    .body-cards-visa img {
        padding-top: 31px;
        padding-left: 20px;
    }

    .visa-check {
        position: absolute;
        left: 143px;
        top: 40px;
    }

    .body-cards-visa p {
        font-family: Satoshi;
        color: #797b89;
        font-size: 12px;
        line-height: 16px;
        font-weight: 400;
        position: absolute;
        left: 65px;
        top: 43px;
    }

    .card-visa-visa {
        font-family: Satoshi;
        color: #1b1c20;
        font-size: 14px;
        line-height: 19px;
        font-weight: 700;
        position: absolute;
        top: 17px;
        left: 65px;
    }

    .card-visa-num {
        font-family: Satoshi;
        color: #1b1c20;
        font-size: 16px;
        line-height: 22px;
        font-weight: 500;
        position: absolute;
        top: 28px;
        right: 20px;
    }

    .card-big {
        width: 547px;
        height: 334px;
        background-color: #fff;
        position: absolute;
        right: 0;
        top: 168px;
        border-radius: 16px;
    }

    .card-big-content {
        position: absolute;
        top: 13.6px;
        left: 267.25px;
    }

    .card-big-logo {
        position: absolute;
        left: 63px;
        bottom: 42px;
    }

    .card-big p {
        text-transform: uppercase;
        letter-spacing: 0.1em;
        font-family: Satoshi;
        color: #a0aec0;
        font-size: 12px;
        line-height: 16px;
        font-weight: 500;
        position: absolute;
        left: 89.8px;
        top: 232px;
    }

    .card-120 {
        width: 194.6px;
        height: 106px;
        display: block;
        background-color: #ebbcad;
        position: absolute;
        bottom: 0;
        left: 90px;
        border-radius: 0 0 8px 8px;
    }

    .card-120 h2 {
        font-family: Satoshi;
        color: #000;
        font-size: 40px;
        line-height: 54px;
        font-weight: 700;
        padding-top: 34px;
        padding-left: 50px;
    }  
    
    .card-120 img {
        position: absolute;
        bottom: 52px;
        left: 57px;
    }

    .card-pink-card {
        width: 313.3px;
        height: 203px;
        position: absolute;
        left: 0;
        top: 101.5px;
    }

    .card-pink-card-card {
        position: absolute;
        top: -10px;
        left: -141px;
    }

    .card-pink-card-check {
        position: absolute;
        top: 0;
        right: 0;
    }

    /* SOCIAL SECTIONS */

    .container-social {
        width: 1280px;
        height: 84px;
        display: block;
        /* background-color: #383A47; COR PARA AJUDAR NA VISUALIZAÇÃO; */
        margin: 0 auto;
        position: relative;
        top: 50px;
        text-align: center;
    }

    .container-social p {
        font-family: Satoshi;
        color: #e7e7e7;
        font-size: 15px;
        line-height: 27px;
        font-weight: 500;
        display: block;
    }

    .content-social {
        display: flex;
        justify-content: space-around;
        margin-top: 26px;

    }

    .content-social img{
        cursor: pointer;
    }
}

/* CLASSES UTILITÁRIAS */

.full-height {
    height: 100vh;
}

.social-proof-section {
    height: 184px;
    margin-top: 96px;
    /* background-color: red; COR PARA AJUDAR NA VISUALIZACAO; */
    position: relative;
}

/* BOTOES */

.btn-sign-up {
    width: 93px;
    height: 44px;
    display: table;
    border-radius: 8px;
    text-align: center;
    justify-content: center;
    font-family: 'satoshi', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    padding: 9px 0 0 0;
}

.btn-log-in {
    width: 93px;
    height: 44px;
    display: table;
    border-radius: 8px;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    padding: 9px 0 0 0;
}

.btn-body-txt {
    width: 257px;
    height: 32px;
    border-radius: 16px;
    display: inline-block;
    color: #6941c6;
    background-color: #f9f5ff;
    text-decoration: none;
    position: relative;
    margin-bottom: 16px;
}

.btn-body-txt:hover {
    background-color: #712fff;
    color: #fff;
    transform: scale(1.05);
    
}

.btn-body-txt p {
    margin: 6px 30px 6px 69px;
    position: absolute;
    top: 0;
}
.btn-body-txt img {
    position: absolute;
    right: 11.3px;
    top: 11.3px;
}

.btn-fake {
    width: 53px;
    height: 24px;
    display: inline-block;
    background-color: #7f56d9;
    border-radius: 12px;
    position: absolute;
    top: 4px;
    left: 4px;
    text-align: center;
    padding: 2px 0;
}

.btn-white {
    background-color: #fff;
    color: #383A47;
}

.btn-white:hover {
    background-color: #712fff;
    color: #f2f4f5;
    transform: scale(1.05);
}

/* TEXTOS */

.txt-light {
    color: #fff;
}

.txt-light-2 {
    color: #e7e7e7;
}

.txt-purple {
    color: #712fff;
}

.txt-purple-light {
    color: #6941c6;
}

.txt-log-in {
    color: #fff;
}

.txt-log-in:hover {
    color: #7f56d9;
    transform: scale(1.05);
}

.txt-smaller {
    font-family: 'Satoshi', sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
}

.txt-small {
    font-family: 'satoshi', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
}

.txt-medium {
    font-family: 'Satoshi', sans-serif;
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
}
.txt-big {
    font-family: 'satoshi', sans-serif;
    font-size: 40px;
    line-height: 24px;
    font-weight: 700;
}

.txt-bigger {
    font-family: 'satoshi', sans-serif;
    font-size: 43px;
    line-height: 58.05px;
    font-weight: 700;
}