*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
}

:root {
    --page-backround: #060809;
    --page-backround-2: #060809;
    --default-purple: #712fff;
    --purple-light: #6941c6;
    --purple-light-2: #7f56d9;
    --default-white: #fff;
    --white-2: #f9f5ff;
    --white-3: #f2f4f5;
    --dark-grey: #1b1c20;
    --grey-btn: #383A47;
    --visa-grey-text: #797b89;
    --card-big: #a0aec0;
    --pink: #ebbcad;
    --black: #000;
    --grey-light: #e7e7e7;
    --grey-copyright: #b8b8b8;
    --btn-signup: #fff;
    --txt-partners: #e7e7e7;
    --last-title: #fff;
    --btn-log-in: #6941c6;
    --last-container: #1b1c20;
    --black-white: #000;
}

.light-mode:root {
    --page-backround: #faf8f5;
    --page-backround-2: #fff;
    --default-purple: #712fff;
    --purple-light: #6941c6;
    --purple-light-2: #fff;
    --default-white: #1b1c20;
    --white-2: #f9f5ff;
    --white-3: #f2f4f5;
    --dark-grey: #fff;
    --grey-btn: #fff;
    --visa-grey-text: #797b89;
    --card-big: #a0aec0;
    --pink: #ebbcad;
    --black: #000;
    --grey-light: #383a47;
    --grey-copyright: #797b89;
    --btn-signup: #0f0f14;
    --txt-partners: #797b89;
    --last-title: #383a47;
    --btn-log-in: #712fff;
    --last-container: #faf8f5;
    --black-white: #b4b4b4;
}


.light-mode .footer-cadena{
    display: none;
}

.light-mode .footer-cadena-white{
    display: block;
}

.dark-mode .footer-cadena{
    display: block;
}

.dark-mode .footer-cadena-white{
    display: none;
}



.light-mode .logo-desktop{
    display: none;
}

.light-mode .logo-desktop-black{
    display: block;
}

.dark-mode .logo-desktop{
    display: block;
}

.dark-mode .logo-desktop-black{
    display: none;
}


.light-mode .social-icons{
    display: none;
}

.light-mode .social-icons-black{
    display: block;
}

.dark-mode .social-icons{
    display: block;
}

.dark-mode .social-icons-black{
    display: none;
}

@media screen and (min-width: 350px) {
    
    .page-wrapper {
        width: 100%;
        height: 100vh;
        display: table;
        background-color: var(--page-backround);
    }

    /* HEADER */

    .topbar {
        width: 100%;
        height: 58px;
        display: block;
        background-color: var(--page-backround);
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
    }

    .container-topbar {
        display: block;
        /* background-color: blue; COR PRA AJUDAR NA VISUALIZAÇÃO; */
        width: 335px;
        height: 30px;
        margin: 14px auto;
        position: relative;
    }

    .content-topbar {
        width: 335px;
        height: 30px;
        display: flex;
        /* background-color: purple; COR PRA AJUDAR NA VISUALIZAÇÃO; */
        margin: 0 0;
        align-items: center;
    }

    .menu a{
        display: none;
    }

    .menu-mobile {
        display: block;
        position: absolute;
        right: 0;
        top: 8px;
    }

    .logo {
        display: table;
        margin-left: 0;
        /* background-color: pink; COR PRA AJUDAR NA VISUALIZAÇÃO; */
    }

    .logo-desktop {
        display: none;
    }

    .logo-mobile {
        display: block;
    }

    .account {
        display: none;
    }

    /* BODY */

    /* .container-body {
        display: block;
        background-color: blue; COR PRA AJUDAR NA VISUALIZAÇÃO;
        width: 335px;
        height: 923.53px;
        margin: 50px auto 0 auto
    } */
}

@media screen and (min-width: 992px) {

    /* HEADER */

    .topbar {
        height: 80px;
    }

    .container-topbar {
        padding: 0px 32px;
        /* background-color: blue; COR PRA AJUDAR NA VISUALIZAÇÃO; */
        width: 1280px;
        height: 44px;
        margin: 18px auto;
    }

    .content-topbar {
        width: 401px;
        height: 44px;
        display: flex;
        /* background-color: purple; COR PRA AJUDAR NA VISUALIZAÇÃO; */
        margin: 0 0;
        align-items: center;
    }

    .logo {
        display: table;
        margin-left: 0;
        /* background-color: pink; COR PRA AJUDAR NA VISUALIZAÇÃO; */
    }

    .logo img {
        height: 32px;
    }

    .logo-desktop {
        display: block;
        width: 134px;
    }

    .logo-mobile {
        display: none;
    }

    .menu {
        display: block;
    }

    .menu-mobile {
        display: none;
    }

    .menu a {
        font-family: 'Satoshi';
        display: inline-flex;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        text-decoration: none;
        margin: 16px;
        position: relative;
    }

    .menu a:first-child {
        margin-left: 40px;
    }

    .menu a:before {
        content: '';
        width: 0;
        height: 4px;
        background-color: var(--default-purple);
        display: block;
        position: absolute;
        bottom: -6px;
        left: 0;
        transition: all 0.2s ease-out; 
    }

    .menu a:hover:before {
        width: 100%;
    }

    .account {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: end;
        padding: 0px;
        gap: 12px;
        width: 187px;
        height: 44px;
        /* background-color: green; COR PRA AJUDAR NA VISUALIZAÇÃO; */
        position: absolute;
        top: 0;
        right: 32px;
    }

    /* BODY */

    .line {
        width: 100%;
        height: 2px;
        display: block;
        background-color: aqua;
    }

    .container-body {
        display: block;
        /* background-color: blue; COR PRA AJUDAR NA VISUALIZAÇÃO; */
        width: 1280px;
        height: 608px;
        margin: 144px auto 0 auto;
    }

    .content-body{
        width: 579px;
        height: 402px;
        display: inline-block;
        /* background-color: grey; COR PRA AJUDAR NA VISUALIZAÇÃO; */
        align-items: center;
        position: relative;
        left: 32px;
        bottom: 103px;
    }

    .content-body-txt{
        width: 100%;
        height: 309px;
        display: inline-block;
        /* background-color: red; COR PRA AJUDAR NA VISUALIZAÇÃO; */
        position: absolute;
        top: 0;
        left: 0;
    }

    .support-txt {
        padding: 24px 0;
    }

    .content-body-cta{
        width: 372.21px;
        height: 61px;
        display: inline-block;
        /* background-color: pink; COR PRA AJUDAR NA VISUALIZAÇÃO; */
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .img-google-play {
        position: absolute;
        right: 0;
    }  

    /* BODY CARDS */
    
    .content-body-cards {
        width: 605px;
        height: 100%;
        display: inline-block;
        /* background-color: grey; COR PRA AJUDAR NA VISUALIZAÇÃO; */
        align-items: center;
        position: relative;
        left: 60px;
    }

    .body-cards-visa {
        width: 343px;
        height: 80px;
        display: block;
        background-color: #fff;
        position: absolute;
        right: 31px;
        border-radius: 20px;
    }

    .body-cards-visa img {
        padding-top: 31px;
        padding-left: 20px;
    }

    .visa-check {
        position: absolute;
        left: 143px;
        top: 40px;
    }

    .body-cards-visa p {
        font-family: Satoshi;
        color: #797b89;
        font-size: 12px;
        line-height: 16px;
        font-weight: 400;
        position: absolute;
        left: 65px;
        top: 43px;
    }

    .card-visa-visa {
        font-family: Satoshi;
        color: #1b1c20;
        font-size: 14px;
        line-height: 19px;
        font-weight: 700;
        position: absolute;
        top: 17px;
        left: 65px;
    }

    .card-visa-num {
        font-family: Satoshi;
        color: #1b1c20;
        font-size: 16px;
        line-height: 22px;
        font-weight: 500;
        position: absolute;
        top: 28px;
        right: 20px;
    }

    .card-big {
        width: 547px;
        height: 334px;
        background-color: #fff;
        position: absolute;
        right: 0;
        top: 168px;
        border-radius: 16px;
    }

    .card-big-content {
        position: absolute;
        top: 13.6px;
        left: 267.25px;
    }

    .card-big-logo {
        position: absolute;
        left: 63px;
        bottom: 42px;
    }

    .card-big p {
        text-transform: uppercase;
        letter-spacing: 0.1em;
        font-family: Satoshi;
        color: var(--card-big);
        font-size: 12px;
        line-height: 16px;
        font-weight: 500;
        position: absolute;
        left: 89.8px;
        top: 232px;
    }

    .card-120 {
        width: 194.6px;
        height: 106px;
        display: block;
        background-color: var(--pink);
        position: absolute;
        bottom: 0;
        left: 90px;
        border-radius: 0 0 8px 8px;
    }

    .card-120 h2 {
        font-family: Satoshi;
        color: var(--black);
        font-size: 40px;
        line-height: 54px;
        font-weight: 700;
        padding-top: 34px;
        padding-left: 50px;
    }  
    
    .card-120 img {
        position: absolute;
        bottom: 52px;
        left: 57px;
    }

    .card-pink-card {
        width: 313.3px;
        height: 203px;
        position: absolute;
        left: 0;
        top: 101.5px;
    }

    .card-pink-card-card {
        position: absolute;
        top: -10px;
        left: -141px;
    }

    .card-pink-card-check {
        position: absolute;
        top: 0;
        right: 0;
    }

    /* SOCIAL SECTION */

    .container-social {
        width: 1280px;
        height: 84px;
        display: block;
        /* background-color: #383A47; COR PARA AJUDAR NA VISUALIZAÇÃO; */
        margin: 0 auto;
        position: relative;
        top: 50px;
        text-align: center;
    }

    .container-social p {
        font-family: Satoshi;
        color: var(--txt-partners);
        font-size: 15px;
        line-height: 27px;
        font-weight: 500;
        display: block;
    }

    .content-social {
        display: flex;
        justify-content: space-around;
        margin-top: 26px;

    }

    .content-social img{
        cursor: pointer;
    }

    /* FEATURES SECTION */

    .features-main {
        width: 1280px;
        height: 770.3px;
        /* background-color: grey; COR PRA AJUUDAR NA VISUALIZACAO; */
        display: block;
        position: relative;
        top: 96px;
        margin: 0 auto;
    }

    .features-main-title {
        font-family: Satoshi;
        font-size: 43px;
        font-weight: 500;
        line-height: 58px;
        text-align: center;
        /* background-color: #5de970; COR PRA AJUDAR NA VISUALIZACAO; */
    }

    .features-main-box-container-flex {
        width: 844.16px;
        height: 660.3px;
        /* background-color: #ff0000; COR PRA AJUDAR NA VISUALIZACAO; */
        position: relative;
        left: 0;
        top: 52px;

        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: space-between;
    }

    .features-box {
        width: 408.05px;
        height: 316.3px;
        background-color: var(--dark-grey);
        display: block;
        border-radius: 23.84px;
        box-shadow: 0px 1.98641px 3.97282px rgba(68, 55, 0, 0.01), 0px 99.3206px 174.804px rgba(68, 55, 0, 0.02), 0px 45.6875px 80.4497px rgba(68, 55, 0, 0.01), 0px 25.8233px 45.6875px rgba(68, 55, 0, 0.01), 0px 15.8913px 27.8098px rgba(68, 55, 0, 0.01), 0px 8.93885px 16.8845px rgba(68, 55, 0, 0.01), 0px 5.95923px 8.93885px rgba(68, 55, 0, 0.01), 0px 1.98641px 3.97282px rgba(68, 55, 0, 0.01);
    }

    .features-img-1{
        position: absolute;
        bottom: 364px;
        left: 152.87px;
    }

    .features-img-2{
        position: absolute;
        top: 101.94px;
        right: 151.8px;
    }

    .features-img-3{
        position: absolute;
        bottom: 140px;
        left: 165px;
    }

    .features-img-4{
        position: absolute;
        bottom: 137.12px;
        right: 116.54px;
    }

    .features-main-box-right {
        width: 408.03px;
        height: 660.3px;
        display: block;
        background-color: var(--dark-grey);
        position: absolute;
        top: 110px;
        right: 0;
        border-radius: 23.84px;
        box-shadow: 0px 1.98641px 3.97282px rgba(68, 55, 0, 0.01), 0px 99.3206px 174.804px rgba(68, 55, 0, 0.02), 0px 45.6875px 80.4497px rgba(68, 55, 0, 0.01), 0px 25.8233px 45.6875px rgba(68, 55, 0, 0.01), 0px 15.8913px 27.8098px rgba(68, 55, 0, 0.01), 0px 8.93885px 16.8845px rgba(68, 55, 0, 0.01), 0px 5.95923px 8.93885px rgba(68, 55, 0, 0.01), 0px 1.98641px 3.97282px rgba(68, 55, 0, 0.01);
    }

    .features-main-box-right p{
        padding-top: 21.85px;
    }

    .features-main-box-right img{
        margin-top: 85.42px;
        margin-left: 54.02px;
    }

    /* LAST SECTION */

    .last-container {
        width: 1280px;
        height: 670.72px;
        background-color: var(--last-container);
        display: block;
        position: relative;
        top: 96px;
        margin: 0 auto;
        border-radius: 25.6px;
    }

    .last-content {
        width: 478px;
        height: 438px;
        /* background-color: red; COR PRA AJUDAR NA VISUALIZAÇÃO; */
        position: absolute;
        left: 31.72px;
        top: 108.79px;
    }

    .last-content h2 {
        color: var(--last-title);
        padding-bottom: 24px;
    }

    /* FOOTER */

    .footer {
        width: 100%;
        height: 128px;
        /* background-color: #712fff; COR PRA AJUDAR NA VISUALIZACAO; */
        position: relative;
        padding-top: 48px;
    }

    .container-footer {
        display: flex;
        padding: 0px 32px;
        /* background-color: blue; COR PRA AJUDAR NA VISUALIZAÇÃO; */
        width: 1280px;
        height: 32px;
        margin: 0 auto;

        justify-content: space-between;
    }

    .copyright-text {
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        color: var(--grey-copyright);
        padding-top: 5px;
    }

    .footer-cadena {
        margin-left: -75px; 
    }

    .footer-cadena-white {
        margin-left: -75px; 
    }
}

/* CLASSES UTILITÁRIAS */

.full-height {
    height: 100vh;
}

.social-proof-section {
    height: 184px;
    margin-top: 96px;
    /* background-color: red; COR PARA AJUDAR NA VISUALIZACAO; */
    position: relative;
}

#first-section {
    height: 888px;
    background-color: var(--page-backround)
}

#features-section {
    height: 962px;
    background-color: var(--page-backround-2)
}

#last-section {
    height: 863px;
    background-color: var(--page-backround-2);
}

/* BOTOES */

body {
    background-color: #333;
    color: #fff;
  }
  
  .dark-mode {
    background-color: #333;
    color: #fff;
  }
  
  .light-mode {
    background-color: #fff;
    color: #333;
  }
  
  .switch {
    position: absolute;
    display: inline-block;
    width: 40px;
    height: 24px;
    right: 230px;
    top: 10.5px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    transition: 0.4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 2px;
    bottom: 2px;
    background-color: #712fff;
    transition: 0.4s;
  }
  
  input:checked + .slider {
    background-color: #712fff;
  }
  
  input:checked + .slider:before {
    transform: translateX(15px) scale(0.945);
    background-color: #fff;
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
    background-color: #712fff;
  }

.btn-sign-up {
    width: 93px;
    height: 44px;
    display: table;
    border-radius: 8px;
    text-align: center;
    justify-content: center;
    font-family: 'satoshi', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    padding: 9px 0 0 0;
    background-color: var(--btn-signup);
}

.btn-log-in {
    width: 93px;
    height: 44px;
    display: table;
    border-radius: 8px;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    padding: 9px 0 0 0;
}

.btn-body-txt {
    width: 257px;
    height: 32px;
    border-radius: 16px;
    display: inline-block;
    color: var(--purple-light);
    background-color: var(--white-2);
    text-decoration: none;
    position: relative;
    margin-bottom: 16px;
    transition: all .2s ease-in-out;
}

.btn-body-txt:hover {
    background-color: var(--default-purple);
    color: #fff;
    transform: scale(1.03);
    
}

.btn-body-txt p {
    margin: 6px 30px 6px 69px;
    position: absolute;
    top: 0;
}
.btn-body-txt img {
    position: absolute;
    right: 11.3px;
    top: 11.3px;
}

.btn-fake {
    width: 53px;
    height: 24px;
    display: inline-block;
    background-color: var(--purple-light-2);
    border-radius: 12px;
    position: absolute;
    top: 4px;
    left: 4px;
    text-align: center;
    padding: 2px 0;
}

.btn-last {
    width: 163.2px;
    height: 56px;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 28px;
    display: block;
    padding-top: 15.5px;
    padding-left: 28px;
    text-decoration: none;
    transition: all .2s ease-in-out;
}

.btn-last img:last-child {
    display: none;
}

.btn-last:hover img:first-child {
    display: none;
    transition: all .2s ease-in-out;
}

.btn-last:hover img:last-child {
    display: block;
    transition: all .2s ease-in-out;
}

.light-mode .btn-last img:last-child {
    display: block;
}

.light-mode .btn-last:hover img:first-child {
    display: none;
    transition: all .2s ease-in-out;
}

.light-mode .btn-last:hover img:last-child {
    display: none;
    transition: all .2s ease-in-out;
}

.btn-last:hover {
    background-color: var(--black-white);
    color: var(--default-white);
    transform: scale(1.03);
    transition: all .2s ease-in-out;
}

.btn-last img {
    position: absolute;
    right: 26.4px;
    top: 21.5px;
}

.btn-white {
    background-color: var(--default-white);
    color: var(--grey-btn);
}

.btn-white-2 {
    background-color: var(--btn-signup);
    color: var(--dark-grey);
}

.btn-white:hover {
    background-color: var(--default-purple);
    color: var(--white-3);
    transform: scale(1.03);
    transition: all .2s ease-in-out;
}

/* TEXTOS */

.txt-light {
    color: var(--default-white);
}

.txt-light-2 {
    color: var(--grey-light);
}

.txt-purple {
    color: var(--default-purple);
}

.txt-purple-light {
    color: var(--purple-light);
}

.txt-log-in {
    color: var(--default-white);
}

.txt-log-in:hover {
    color: var(--btn-log-in);
    transform: scale(1.03);
    transition: all .2s ease-in-out;
}

.txt-smaller {
    font-family: 'Satoshi', sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
}

.txt-small {
    font-family: 'satoshi', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
}

.txt-small-2 {
    font-family: 'satoshi', sans-serif;
    font-size: 17px;
    line-height: 24px;
    font-weight: 400;
}

.txt-medium {
    font-family: 'Satoshi', sans-serif;
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
}
.txt-big {
    font-family: 'satoshi', sans-serif;
    font-size: 40px;
    line-height: 24px;
    font-weight: 700;
}

.txt-bigger {
    font-family: 'satoshi', sans-serif;
    font-size: 43px;
    line-height: 58.05px;
    font-weight: 700;
}

.txt-feature-title {
    font-family: 'Satoshi';
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
    padding-top: 39.73px;
}

.txt-feature-title-2 {
    font-family: 'Satoshi';
    font-size: 25px;
    font-weight: 400;
    line-height: 33.5px;
    text-align: center;
    padding-top: 39.73px;
}

.txt-feature-text {
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    text-align: center;
}

.txt-feature-text-2 {
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: center;
}

/* PADDING */

.padding-top-21 {
    padding-top: 21.29px;
}

.padding-top-121 {
    padding-top: 121.17px;
}

.padding-top-123 {
    padding-top: 123.73px;
}